[user]
	name = Cosmin Nicolaescu
	email = cos@cosn.dev
	signingkey = 705EB3B642869F41

[github]
	user = cosn

[alias]
    blg = log --graph --decorate --all --abbrev-commit --pretty=oneline
    b = branch
    br = branch --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:green)(%(committerdate:relative)) [%(authorname)]' --sort=-committerdate
    busypeople = shortlog -6
    busythisweek = shortlog --since=one.week.ago
    c = commit
    cam = commit -a -m
    cm = commit -m
    co = checkout
    cob = checkout -b
    cp = cherry-pick
    cpx = cherry-pick -x
    d = diff
    dc = diff --cached
    del = branch -D
    dh = diff HEAD
    dns = diff --name-status
    ds = diff --staged
    es = !git pull --rebase && git push
    ignorechanges = update-index --assume-unchanged
    k = !exec gitk --all&
    l = log --stat -M
    last = log -1 HEAD --stat
    ld = log --oneline --decorate
    lf = log --pretty=fuller
    lg = log --pretty=format:'%Cred%h%Creset -%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
    listconf = config --global --list
    ll = log --stat -M -5
    ln = log --oneline --name-only
    lns = log --name-status
    lnss = diff --name-status --staged
    lp = log -p
    noticechanges = update-index --no-assume-unchanged
    orphank = !gitk --all `git reflog | cut -c1-7`&
    orphanl = !git log --pretty=oneline --abbrev-commit --graph --decorate `git reflog | cut -c1-7`
    pop = stash pop
    pub = push -u origin
    pur = pull --rebase
    purgeme = !git clean -fd && git reset --hard
    ri = rebase --interactive --autosquash
    rmmissing = !git rm $(git ls-files --deleted)
    ro = !git fetch origin && git reset --hard origin/master
    rv = remote -v
    s = status -u -sb
    scrub = !git reset --hard && git clean -fd
    shorten = "!sh -c 'curl -i http://git.io -F url=$1' -"
    showignored = clean -ndX
    showignored2 = ls-files --others --ignored --exclude-standard
    showuntracked = ls-files --others --exclude-standard
    slog = log --graph --simplify-by-decoration --all --abbrev-commit --pretty=oneline
    st = stash --include-untracked
    standup = log --pretty=format:'%Cred%h%Creset -%Creset %s %Cgreen(%cD) %C(bold blue)<%an>%Creset' --since yesterday --author cosn
    sync = town sync
    tig = log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cblue(%cr) %C(green)<%an>%Creset' --abbrev-commit --date=relative
    undo = reset --soft HEAD^
    whatis = show -s --pretty='tformat:%h (%s, %ad)' --date=short
    who = shortlog -s --
    append = town append
    compress = town compress
    contribute = town contribute
    diff-parent = town diff-parent
    hack = town hack
    kill = town kill
    observe = town observe
    park = town park
    prepend = town prepend
    propose = town propose
    rename-branch = town rename-branch
    repo = town repo
    set-parent = town set-parent
    ship = town ship

[push]
    default = current
    autoSetupRemote = true

[pull]
    rebase = true

[apply]
    whitespace = fix

[rebase]
    autosquash = true
    autostash = true

[init]
    defaultBranch = main

[rerere]
    enabled = true

[core]
    pager = delta
    editor = nvim

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true    # use n and N to move between diff sections
    line-numbers = true

[merge]
    conflictstyle = zdiff3

[diff]
    colorMoved = default
    algorithm = histogram

[branch]
    sort = -committerdate

[tag]
    sort = taggerdate
